[submodule "src/SAP/SAP_REPORTING"]
	path = src/SAP/SAP_REPORTING
	url = https://github.com/GoogleCloudPlatform/cortex-reporting
	branch = main
[submodule "src/SAP/SAP_ML_MODELS"]
	path = src/SAP/SAP_ML_MODELS
	url = https://github.com/GoogleCloudPlatform/cortex-ml-models
	branch = main
[submodule "src/SAP/SAP_CDC"]
	path = src/SAP/SAP_CDC
	url = https://github.com/GoogleCloudPlatform/cortex-dag-generator
	branch = main
[submodule "src/SFDC"]
	path = src/SFDC
	url = https://github.com/GoogleCloudPlatform/cortex-salesforce
	branch = main
[submodule "src/marketing"]
	path = src/marketing
	url = https://github.com/GoogleCloudPlatform/cortex-marketing
	branch = main
